@tailwind base;
@tailwind components;
@tailwind utilities;

.button-style {
  text-decoration: none;
  color: #fff;
  background-color: #3f9a80;
  border: 1px solid #3f9a80;
  border-radius: 30px;
  opacity: 1;
  padding: 8px 20px;
  font-family: Helvetica Neue;
  align-self: center;
}

.button-style:hover {
  background-color: green;
  border: 1px solid green;
  cursor: pointer;
}

h2,
h1 {
  font-family: Arial, Helvetica, sans-serif;
}

#form label {
  margin-bottom: 0.25rem;
}

.hoverbold:hover {
  font-weight: 700;
  cursor: pointer;
}
