@tailwind base;
@tailwind components;
@tailwind utilities;


.button-style {
  text-decoration: none;
  color: #6DBE45;
  background-color: #fff;
  border: 1px solid #6DBE45;
  border-radius: 30px;
  opacity: 1;
  padding: 4px 26px;
  font-family: Helvetica Neue;
  align-self: center;
  font-weight: 500;
}

.button-style:hover {
  background-color: #6DBE45;
  border: 1px solid #6DBE45;
  color: #fff;
  cursor: pointer;
}
.button-style2 {
  text-decoration: none;
  color: #6DBE45;
  background-color: #fff;
  border: 1px solid #6DBE45;
  border-radius: 30px;
  opacity: 1;
  padding: 4px 26px;
  font-family: Helvetica Neue;
  align-self: center;
  font-weight: 500;
}

.button-style2:hover {
  background-color: #D8D248;
  border: 1px solid #D8D248;
  color: #fff;
  cursor: pointer;
}

h2,
p,
h1 {
  font-family: Arial, Helvetica, sans-serif;
}

#form label {
  margin-bottom: 0.25rem;
}

.hoverbold:hover {
  font-weight: 700;
  cursor: pointer;
}
