@tailwind base;
@tailwind components;
@tailwind utilities;

.button-style {
  text-decoration: none;
  color: #fff;
  /* background: #6dbe45; */
  background-color: #6dbe45;
  border-radius: 30px;
  opacity: 1;
  padding: 8px 36px;
  font-family: Helvetica Neue;
  align-self: center;
  border: 1px solid #6dbe45;
  /* transition: ease-out 0.2s; */
}

.button-style:hover {
  background-color: black;
  border: 1px solid black;
  cursor: pointer;
}

h2,
h1 {
  font-family: Arial, Helvetica, sans-serif;
}

#form label {
  margin-bottom: 0.25rem;
}

.hoverbold:hover {
  font-weight: 700;
  cursor: pointer;
}
